<h1>Adicionar usuário:</h1>
<h1>Atualizar antigo</h1>

<form action='/create' method='POST'/>
   <input name='newUser' placeholder='Digite o nome'></input>
   <button>Adicionar</button>

</form><!--POST ocula as info na URL-->

<a href="/">Voltar para a lista.</a>